html, body{
  width: 100%;
  height: 100%;
}

.full{
  width: 100%;
  height: 100%;
}

.editor{
  position: relative;
  background: linear-gradient(45deg, hsla(294, 100%, 50%, 0.333), hsla(47, 100%, 50%, 0.83)),          linear-gradient(135deg, hsl(188, 100%, 50%), hsla(244, 100%, 50%, 0.24));
}

.menu-top{
  width: 100%;
  height: calc(33.32px);
  background-color: rgba(255, 255, 255, 0.33);
  box-sizing: border-box;
}

.content-tabs{
  position: absolute;
  top: calc(33.32px);
  right: 0px;
  width: calc(100% - 300.1234px);
  height: calc(35.12px);
  background-color: rgba(189, 189, 189, 0.41);

}

.content-box{
  position: absolute;
  top: calc(35.12px + 33.32px);
  right: 0px;
  width: calc(100% - 300.1234px);
  height: calc(100% - 35.12px - 33.32px - 300.1234px);
  background-color: rgb(255, 255, 255);
}


.content-overlay{
  position: absolute;
  top: calc(35.12px + 33.32px);
  right: 0px;
  z-index: 3;
  width: calc(100% - 300.1234px);
  height: calc(100% - 35.12px - 33.32px - 300.1234px);
}


.menu-left{
  position: absolute;
  top: calc(33.32px + 35.12px);
  left: 0px;
  width: 300.1234px;
  height: calc(100% - 33.32px - 35.12px - 300.1234px);
}

.menu-left-toggles{
  position: absolute;
  top: calc(33.32px);
  left: 0px;
  width: 300.1234px;
  height: calc(35.12px);
  background-color: rgba(255, 255, 255, 0.26);
  display: flex;
}


.timeline-box{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: calc(300.1234px);
  border-top: #ffffff5e solid 1px;
  box-sizing: border-box;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* -------------- */

.brand-label{
  background-color: #ffffff82;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
}
.brand-label span{
  transform: translate3d(5px, 0px, 0px);
  display: inline-block;
  font-size: 19px;
}

.menu-top-logo{
  height: 33.32px;
  line-height: 33.32px;
  margin-left: 4px;
  margin-right: 4px;
  border-left: none;
  color: black;
  box-sizing: border-box;
  display: inline-block;
  transition: background-color 0.33s, color 0.33s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}
.menu-top-brand{
  height: 33.32px;
  line-height: 33.32px;
  margin-left: 10px;
  margin-right: 10px;
  border-left: none;
  font-weight: bold;
  color: black;
  box-sizing: border-box;
  display: inline-block;
  transition: background-color 0.33s, color 0.33s;
}
.menu-top-item{
  position: relative;
  height: 33.32px;
  line-height: 33.32px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.34901960784313724);
  /* border: #9a9a9a solid 1px; */
  /*     border-left: none; */
  color: black;
  box-sizing: border-box;
  display: inline-block;
  transition: background-color 0.33s, color 0.33s;
  /* margin-right: -4px; */
}
/* .menu-top-item:first-child{
  border-left: #9a9a9a solid 1px;
} */
.menu-top-item:hover{
  cursor: pointer;
  color: #e6e6e6;
  background-color: #7b7b7b80;
}


.sub-menu{
  display: inline-block;
  position: absolute;
  top: 33.32px;
  left: 0px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.28);
  color: black;
}
.sub-menu-item{
  padding: 0px 10px;
  background-color: rgba(255, 255, 255, 0.68);
  display: block;
  width: 106px;
  text-align: left;
}
.sub-menu-item:not(:last-child){
  margin-bottom: 1px;
}

.sub-menu{
  display: none;
}
.menu-top-item:hover .sub-menu{
  display: block;
}

.sub-menu-item{
  transition: background-color 0.333s, color 0.333s;
}
.sub-menu-item:hover{
  color: #252525;
  background-color: rgb(255, 255, 255);
}

/* -------------- */


.menu-left-toggle-item{
  line-height: 35.12px;
  text-align: center;
  display: inline-block;
  height: calc(35.12px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.01);
}
.menu-left-toggle-item.is-active{
  background-color: rgba(255, 255, 255, 0.28);
}


/* -------------- */

.content-tabs{
  position: absolute;
  top: calc(33.32px);
  left: 300.1234px;
  width: calc(100% - 300.1234px);
  height: calc(35.12px);
  background-color: rgba(255, 255, 255, 0.26);
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.content-tab-item{
  cursor: pointer;
  line-height: 35.12px;
  text-align: center;
  display: inline-block;
  height: calc(35.12px);
  background-color: rgba(255, 255, 255, 0.28);
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 100%;
  transition: background-color 0.333s;
}

.content-tab-item:hover,
.content-tab-item.is-active{
  background-color: rgba(255, 255, 255, 0.68);
}


/* -------------- */

.renderable-list{
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.renderable-item{
  width: 100%;
  max-width: 100%;
  /* padding: 10px 10px; */
  /* background: linear-gradient(45deg, cyan, #ff00c8); */
  transition: background-color 0.5s 0.016s;
}
.renderable-item:hover{
  background-color: rgb(144, 246, 253);
}
.renderable-item-text{
  padding: 10px;
  width: calc(100% - 2 * 10px);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3607843137254902));
}

.renderable-item.is-active {
    background: linear-gradient(45deg, cyan, #ff00c8);
}


/* -------------- */

.icfn{
  cursor: pointer;
}


.scene-options{
  opacity: 0.5;
  color: white;
  background-color: rgba(0,0,0,0.2);
}

.scene-options input {
  color: black;
}

input.timer{
  appearance: none;
  height: 16px;
  padding: 0px;
  background-color: transparent;
  border: 1px solid transparent;
  /* border-radius: 4px; */
  box-shadow: none;
  box-sizing: border-box;
  width: 40px;
  text-align: right;
  margin-bottom: 0px;
  text-decoration: underline;
}

/* -------------- */
